html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-bgr-color: #f5f4fa;
  --fotter-color: #2f303a;
  --accent-hero-button: #188ce8;
  --address-contact-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: Roboto, sans-serif;
  background: var(--white-text-color);
  color: var(--primary-text-color);
  font-size: 14px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
}
.image {
  display: block;
  width: 100%;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list .link.current {
  color: var(--accent-color);
}
.hero-section .button,
.filter-content .button {
  font-family: inherit;
  cursor: pointer;
}
/* Header-section */
/*Logo*/
.link {
  text-decoration: none;
}
.logo {
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}
.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: var(--white-text-color);
}
/*site-nav*/
.header-border {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}
.main {
  display: flex;
  margin-left: 93px;
}
.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.main .item:not(:last-child),
.nav .item:not(:last-child) {
  margin-right: 50px;
}
.header-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav .link:hover,
.header-nav .link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main .item {
  position: relative;
}
.current::after {
  content: '';
  display: inline-block;
  width: 100%;

  position: absolute;
  left: 0;
  bottom: -1px;

  border: 2px solid var(--accent-color);
  background: var(--accent-color);
  border-radius: 2px;
}
/*Contacts*/
.list .contact {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover,
.icon-mail:hover,
.icon-tel:hover {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:focus,
.icon-mail:focus,
.icon-tel:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-mail,
.icon-tel {
  margin-right: 10px;
  fill: currentColor;
}

/*Hero*/
.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--fotter-color);
  text-align: center;

  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-section .title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.hero-section .button {
  padding: 10px 32px;
  margin: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: flex-start;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section .button:hover,
.hero-section .button:focus {
  background: var(--accent-hero-button);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*specifics*/
.specifics-conteiner .list {
  display: flex;
}
.specifics-content:not(:last-child) {
  margin-right: 30px;
}
.specifics-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.specifics-content .title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.specifics-content .text {
  width: 270px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.thumb {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #f5f4fa;
}
/*worck*/
.worck-section {
  padding-top: 0;
}
.worck-title {
  margin-bottom: 50px;
}
.worck-container .list {
  display: flex;
}
.list .worck-content:not(:last-child) {
  margin-right: 30px;
}
.worck-section .worck-title,
.team-section .team-title {
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.worck-content {
  position: relative;
}
.worck-content .text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  width: 370px;
  height: 70px;
  color: var(--white-text-color);
  background: rgba(47, 48, 58, 0.8);

  position: absolute;
  bottom: 0;
  padding: 27px 0;
}
/*team*/
.team-conteiner .list {
  display: flex;
}
.list .team-content:not(:last-child) {
  margin-right: 30px;
}
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--secondary-bgr-color);
}
.team-title {
  margin-bottom: 50px;
}
.team-content {
  width: 270px;

  background: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-info {
  padding: 30px 0 30px 0;
}
.team-info .title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.team-info .text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.social-network {
  display: flex;
  justify-content: center;
}
.social-link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.team-icon:hover {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:focus,
.team-icon:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
  fill: currentColor;
}
.social-network .item:not(:last-child) {
  margin-right: 10px;
}
/* Clients */
.client-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
.client-list {
  display: flex;
  justify-content: center;
}
.client-list .link {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list .link:hover,
.icon-client:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list .link:focus,
.icon-client:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-client {
  fill: currentColor;
}
.client-list .item:not(:last-child) {
  margin-right: 30px;
}
/*footer*/
.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--fotter-color);
}
.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}
.address-section .text,
.address-section .contact {
  margin-bottom: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}
.address-list .item:not(:last-child) {
  margin-bottom: 9px;
}
.address-section .contact {
  text-decoration: none;
  color: var(--address-contact-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-section .contact:hover,
.address-section .contact:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* footer-icons */
.footer-section {
  display: flex;
  align-items: baseline;
}
.footer-address {
  margin-right: 70px;
}
.footer-network .text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-text-color);
}
.network {
  display: flex;
}
.network .item:not(:last-child) {
  margin-right: 10px;
}
.network .link {
  display: flex;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network .link:hover,
.network .link:focus {
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
  fill: var(--white-text-color);
}
.form {
  margin-left: 93px;
}
.footer-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-text-color);
}
.footer-form {
  display: flex;
  overflow: hidden;
  position: relative;
}
.footer-mail {
  width: 358px;
  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-text-color);
  background-color: var(--fotter-color);
}
.footer-label {
  position: absolute;
  top: 15px;
  left: 16px;

  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  margin-left: 12px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover,
.footer-button:focus {
  background-color: var(--accent-hero-button);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-modal-icon {
  margin-left: 10px;
}
/*portfolio*/
/*filter*/
.filter-list {
  justify-content: center;
  margin-bottom: 50px;
}
.filter-content:not(:last-child) {
  margin-right: 8px;
}
.filter-content .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background: var(--secondary-bgr-color);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-content .button:hover,
.filter-content .button:focus {
  background: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*exampels*/
.filter-list,
.example-list {
  display: flex;
  flex-wrap: wrap;
}
.example-content {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-content:hover,
.example-content:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-content:nth-child(3n) {
  margin-right: 0;
}
.example-content:nth-child(-n + 3) {
  margin-top: 0;
}
.example-link {
  display: block;
  background: var(--white-text-color);
  box-sizing: border-box;
  text-decoration: none;
}
.example-info {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.example-link .title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.example-link .text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.example-thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-list .example-link:hover .overlay,
.example-list .example-link:focus .overlay {
  transform: translateY(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.thumb-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;

  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--white-text-color);
  cursor: pointer;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon:hover {
  fill: var(--accent-color);
}
.close-button:focus-within .modal-icon {
  fill: var(--accent-color);
}
.modal-form {
  width: 448px;
  margin-right: auto;
  margin-left: auto;
}
.modal-form-field {
  position: relative;
  margin-bottom: 20px;
}
.modal-form-field .modal-form-label {
  margin-bottom: 4px;
}
.modal-form-title {
  margin-top: 40px;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.modal-form-label {
  margin-bottom: 10px;
  position: relative;
  display: block;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-form-input {
  width: 100%;

  margin-top: 4px;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: otline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus,
.modal-form-area:focus {
  outline-color: var(--accent-color);
  transition: otline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-label:focus-within .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  bottom: 0;
  left: 12px;
  transform: translateY(-55%);
  fill: inherit;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-area {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: otline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-check {
  display: flex;
  justify-content: center;
}
.modal-form-checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}
.modal-check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  border: 2px solid var(--secondary-text-color);
  border-radius: 1px;
}
.modal-form-checkbox:checked + .modal-check-icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}
.modal-link {
  color: var(--accent-color);
  margin-left: 4px;
}
.modal-form-button {
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 55px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--white-text-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-button:hover,
.modal-form-button:focus {
  background-color: var(--accent-hero-button);
}
